/* VARS */
:root{
    --darkgreen: rgb(12, 49, 48);
    --green: rgb(21, 82, 80);
    --darkbluegreen: #0a2a2e;
    --darkblue: #092134;
    --darkgold: #b28e5c;
    --khaki: #f6cb8b;
    --lightkhaki: #D2C2B2;
    --lilac: #f8f6f0;
    --grey: rgb(119, 119, 119);
}
body{
    margin: 0;
    width: 100vw;
    background-color: var(--lilac);
}

/* TEXT */
h1,h2,h4{
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    color: var(--darkgold);
}
h2, #offerings h1,.product h4{
    color: var(--khaki);
}
.product p,#offerings>p{
    color: var(--khaki);
}
h3{
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: rgb(119, 119, 119);
    margin-bottom: 0;
}
h4{
    color: rgb(100, 100, 100);
    font-size: 1rem;
    font-weight: 600;
}
p,h5{
    color: rgb(100, 100, 100);
    font-family: 'Comfortaa', sans-serif;
}
h5{
    font-size: 1.1rem;
    font-weight: 400;
    margin: 2rem 2rem 0 2rem;
    text-align: center;
}
a{
    font-family: 'Comfortaa', sans-serif;
    text-decoration: none;
    color: gray;
    transition: all .2s;
}

/* navigation menu */
nav.horizontal{
    display: none;
}
/* #navMobile{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: sticky;
  top: 0px;
} */
.icon{
    color: grey;
}
/* Hide the links inside the navigation menu (except for logo/home) */
#navLinks {
  display: none;
}
#navLinks li{
    width: 100%;
   padding: 0;
    border-radius: 0;
}
#navLinks li a{
    display: block;
}
#mobile nav#mobileNav{
    text-align: right;
    position: fixed;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: max-content; 
    z-index: 3;
}
nav a {
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
    color: var(--lilac);
  }
  
  /* Style the hamburger menu */
  /* Add a grey background color on mouse-over */
nav a:hover {
    background-color: #0a2a2ea3;
    color: var(--lilac);
  }
#mobile ul{
    margin: 0;
    padding: 0;
}

header, .signUp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo{
    width: 8rem;
    padding: 2rem 0 0 0;
}
ul {
    list-style: none;
}
li {
    padding: .5rem;
    border-radius: 1rem;
}

/* INTRO */
#intro, .mission,#about,footer,#success, #cancelled{
    padding: 3rem 2rem;
    display: flex;
    overflow: clip;
    flex-direction: column;
    align-items: flex-start;
}
#success, #cancelled{
    align-items: center;
}
#success #logo,#success header, #cancelled header,#cancelled #logo{
    padding: 0 0 2rem 0;
}
.photo{
    width: 100%;
    /* position: relative; */
    /* left: -12%; */
    /* top: 0; */
    z-index: -1;
    margin: -4rem 0;
}
.missionImg, .wed{
    position: relative; 
    left: -9%; 
    top: 0;
}
.intro-img{
    /* margin: -4rem 0 0 0;
    height: 55vh; */
    z-index: -2;
}

#intro p{
    margin: .5rem 0;
    font-size: .9rem;
}
#signupBtn{
    margin: 0 0 .75rem 0;
}
.signUp{
    width: 100%;
    margin: 2rem 0 0 0;
}
#intro .signUp p{
    text-align: center;
    margin: 0;
}
.advise{
    color: var(--khaki);
}

/* MODAL */
/* The Modal (background) */
#signupModal,#contactModal {
    display: none; 
}
.modal {
    /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* Modal Body */

  /* Modal Content/Box */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: min-content; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 1rem;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.mission{
    margin-bottom: 4rem;
}
/* BUTTON */
.button-42{
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    letter-spacing: .06rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    outline: 0;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 1;
    border: 0;
    transition: box-shadow .2s;
  }
  #intro .button-42{
      color: var(--khaki);
      background-color:  var(--darkgreen);
  }
  #offerings .button-42, .homeBtn{
      color: var(--khaki);
      background-color: var(--green);
      z-index: 0;
  }
  .button-42:hover,li a:hover {
    box-shadow: rgb(1, 28, 21) 0 3px 8px;
  }
  li a:hover {
      background-color: rgb(3, 64, 66);
      color: var(--khaki);
  }
  a.button:hover,#submit:hover,
  #submit:active ,#offerings .button-42:hover, footer a:hover{
      border: 1px solid ;
      background-color: var(--darkbluegreen);
      color: var(--khaki);
  }
  
  .homeBtn{
    margin: 1rem auto;
  }

/* OFFERINGS */
#offerings{
    padding: 1rem 1rem 3rem 1rem;
    background-color: var(--darkgreen);
    background: linear-gradient(0deg, rgba(2,20,22,1) 0%,rgba(12,49,48,1) 10%, rgba(10,42,46,1) 90%, rgba(2,20,22,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#offerings h1{
    margin: 2rem 0 1rem 0;
}
.price{
    /* margin: 0 .45rem 0 0; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    background-color: var(--green);
    border-radius: 1.5rem;
}
#offerings .price{
    padding: 0.5rem 0.75rem;
}
.price p{
    width: max-content;
    display: inline;
    margin: 0 .45rem;
    font-size: 1rem;
}
#registerBtn,#subscribeBtn{
    font-size: 1rem;
    margin-top: 1rem;
}
.product{
    width: 100%;
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product:last-child p{
    margin: 0;
}
#subscribeBtn{
    margin-bottom: 1rem;
}
.registration .disclaimer{
    font-size: .8rem;
}
.registration .product{
    flex-direction: row;
    /* width: max-content; */
}
.registration .price p,.registration .priceBtn{
    margin: 0;
    padding: 0.5rem 0.7rem;
    font-size: 1rem;
    /* margin: 0 1rem;
    padding: 1rem 2rem;
    font-size: 1.2rem; */
}
/* .registration .priceBtn{
    padding: 0;
} */
.product>p, .disclaimer{
    width: 85%;
}
div.priceBtn{
    display: flex;
    justify-content: space-evenly;
}
.priceBtn button{
    margin: 0 1rem;
}
#offerings > p a{
    margin: 0 .5rem;
}
.advise, #offerings  p.half{
    font-size: .8rem;
}
.advise{
    text-align: center;
}
.wed{
    width: 150%;
    left: -50%;
    margin: -8rem 0;
}
/* RGISTRATION */
body.registration{
    height: 100vh;
    width: 100vw;
}
.registration .reg a,.registration #buyBtn,#checkoutBtn{
    font-size: 1rem;
    color: var(--khaki);
    background-color: var(--green);
    text-align: center;
    margin: .5rem;
}
.reg{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: space-between;
}

.registration h1{
    margin: 0;
    font-size: 2rem;
}
.registration .frameContainer{
    width: 100%;
     height: 100vh;
     margin-top: -50vh;
     padding-top: 50vh;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
    overflow: hidden;
}
.registration iframe{
    height: 100%;
    width: 100%;
}
.registration div.priceBtn{
    flex-direction: column;
    align-items: center;
}
#buyBtn{
    margin: 1rem;
}
.productContainer{

    display: none;
}
.registration p.advise{
    display: none;
    color: rgb(119, 119, 119);
    padding: 0 2rem;
    margin: 0 0 .5rem 0;
}
.registration .price{
    margin: 0 .5rem;
}
.registration #checkoutBtn{
    background-color: var(--green);
    color: var(--khaki);
    display: none;
}
.registration footer{
    padding: .5rem 0;
    width: 100%;
    /* position: absolute;
    bottom: 0px; */
}
.contact-container>p{
    color: var(--khaki);
}
.subscribeContainer{
    text-align: center;
}
footer, footer a,footer p{
    padding: 1rem;
    background: rgb(12, 49, 48);
    color: rgb(243, 204, 131);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
   width: var(--viewport-width);
}
footer{
    padding-top: 3rem;
}
footer a:hover{
    border-radius: 1.75rem;
}
.socials{
    display: flex;
    align-items: flex-end;
}
.socials img,footer>div>a>img{
    width: 40px;
    margin: 0 0 6px 0;
}
#contactBtn{
    cursor: pointer;
}
#contactBtn2{
    width: max-content;
    margin: auto;
    cursor: pointer;
}
footer p{
    margin:  0;
    padding: 0;
}
/* footer p:first-child, .socials{
    margin: .5rem 0 2rem 0;
} */
footer > a, footer > div{
    margin: 3rem 0 0 0;
}
.socials a,footer>a, .disclaimer{
    font-size: .85rem;
}
@media (min-height: 800px) {
    .registration .frameContainer {
        margin-top: -40vh;
        padding-top: 40vh;
    }
}
@media (min-height: 1000px) {
    #logo{
        padding-top: 1rem;
        width: 12rem;
    }
    h1{
        font-size: 3rem;
    }
    nav{
        align-items: center;
    }
    h4{
        font-size: 1.5rem;
    }
    .button-42{
        padding: 1rem 2rem;
        border-radius: 2rem;
    }
    .intro-img{
        margin: auto;
        /* width: 80%;
        margin: -7rem 0 2rem 0 */
    }
    .priceBtn{
        margin: 0 0 1rem 0;
    }
    .registration .frameContainer {
        margin-top: -45vh;
        padding-top: 45vh;
        padding-bottom: 2rem;
    }
    .registration h1{
        padding: 2rem 0;
    }
    .signUp{
        margin: 0;
    }
}

@media (min-width: 400px) {
    /* .intro-img{
        margin: -4rem 0 -4rem 0;
    } */
    .img1{
        left: -12%;
    }
}
@media (min-width: 500px) {
    #intro, .mission, #about,footer,#success, #cancelled {
        padding: 3rem;
    }
    h1{
        font-size: 2rem;
    }
    #mobile nav#mobileNav{
        display: none;
    }
    .photo{
        width: 100%;
        left: 0;
    }
    /* .intro-img{
        margin: -4rem 0 7rem 0;
    } */
    .missionImg{
        left: -37px;
    }
    .product>p{
        width: 65%;
    }
    .wedContainer{
        margin-bottom: -2rem;
    }
    h5{
        margin: 0;
        padding: 0 3rem;
    }
    nav.horizontal a{
        font-size: 1.25rem;
    }
    nav.horizontal{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.5rem 0;
    }
    nav.horizontal ul{
        margin: 0;
        padding: 0;
        display: block;
    }
    nav.horizontal a, nav.horizontal li{
        color: gray;
        display: inline;
    }
    nav.horizontal a:hover, nav.horizontal li:hover{
        color: var(--khaki);
        border-radius: 1.75rem;
    }
    #offerings .price{
        width: 66%;
        justify-content: space-between;
        padding: .7rem 1rem;
    }
}
@media (min-width: 700px) {
    .registration .price{
        padding: .5rem;
    }
    .registration .priceBtn{
        padding: 1rem;
    }
    .photo{
        position: relative;
        /* width: 75%; */
        /* left: 12.5%; */
    }
    .missionImg{
        left: -8.5%;
    }
    .wed{
        width: 100%;
        left: 0;
        margin: -15rem 0 -10rem 0;
    }
    #intro, .mission, #about,footer,#success, #cancelled {
        padding: 3rem 5rem;
    }
    .disclaimer{
        width: 65%;
    }

  }
@media (min-width: 900px) {
    #intro  p, .mission p,#offerings p,#about p, footer p,h5{
        font-size: 1.3rem;
    }
    #intro, .mission, #about, footer ,#success, #cancelled{
        padding: 5rem 7rem;
    }
    #offerings{
        padding: 5rem;
    }
    .photo {
        width: 85%;
        left: 8.5%;
    }
    .missionImg{
        left: 0%;
    }
    .wed {
        width: 100%;
        left: 0;
    }
}
@media (min-width: 1000px) {
    #logo{
        padding-top: 1rem;
        width: 12rem;
    }
    h1{
        font-size: 3rem;
    }
    nav{
        align-items: center;
    }
    h4{
        font-size: 1.5rem;
    }
    .button-42,footer a,footer a:hover{
        /* padding: 1rem 2rem; */
        font-size: 1rem;
        border-radius: 2rem;
    }
    .intro-img{
        margin: auto;
        /* width: 80%;
        margin: -7rem 0 2rem 0 */
    }
    .priceBtn{
        margin: 0 0 1rem 0;
    }
    .registration .frameContainer {
        margin-top: -45vh;
        padding-top: 45vh;
        padding-bottom: 2rem;
    }
    .registration h1{
        padding: 2rem 0;
    }
    .signUp{
        margin: 0;
    }
    #logo{
        padding-top: 3rem;
        width: 15rem;
    }

    nav.horizontal a{
        font-size: 1.75rem;
    }
    #intro  p, .mission p, #offerings p, #about p, h5 ,footer a, footer p{
        font-size: 1.75rem;
    }
    h5 {
        margin: 0;
        padding: 0 8rem;
    }
    #intro, .mission, #about, footer,#success, #cancelled{
        padding: 5rem 10rem;
    }
    .photo{
        margin: -4rem 0 -7rem 0;
    }
    .wed{
        margin: -21rem 0 -14rem 0;
    }
    .disclaimer{
        width: 60%;
    }

}
@media (min-height: 600px) and (min-width: 1000px) {
    
    #logo{
        padding-top: 1rem;
        width: 12rem;
    }
    h1{
        font-size: 2rem;
    }
    #offerings h1{
        font-size: 2.5rem;
    }
    nav.horizontal a,h5 {
        font-size: 1.25rem;
    }
    #intro  p, .mission p, #offerings p, #about p, h5, footer a, footer p{
        font-size: 1rem;
    }
    .button-42{
        font-size: 1.2rem;
    }
    .price{
        border-radius: 1.5rem;
    }
    #intro>section, .mission .half,.mission .intro-img{
        width: 45%;
        margin: 0;
    }
    #intro, .mission, #about ,#success, #cancelled{
        padding: 3rem;
    }
    #about,#success, #cancelled{
        width: 60%;
        margin: auto;
        padding: 5rem 3rem;
    }
    #intro,.mission{
        flex-direction: row-reverse;
        justify-content: center;
    }
    .mission{
        flex-direction: row;
    }
    #intro .half, .mission .half{
        margin: 2rem 0 0 0;
    }
    .intro-img{
        margin: -2rem 0 2rem 0;
    }
    .photo {
        width: 100%;
        left: 1.5%;
    }
    .wedContainer{
        margin: 5rem 0 2rem 0;
    }
    
    #signupBtn{
        font-size: 1rem;
    }
}
@media (min-height: 1300px){
    #intro  p, .mission p, #offerings p, #about p, footer a,footer p{
        font-size: 1.25rem;
    }
    h5{
        font-size: 1.5rem;
    }
    .wed {
        margin: -15rem 0 -12rem 0;
    }
}
@media (min-width: 1280px) {
    #intro>section, .mission .half, .mission .intro-img {
        width: 35%;
        /* margin: 0; */
    }
    /* .mission .intro-img{
        margin: -3rem 0 0 0;
    } */
    #offerings .product {
        width: 62%;
    }
    #about, footer p,#success, #cancelled {
        width: 50%;
    }
    .disclaimer{
        max-width: 50%
    }
    .button-42 {
        font-size: 1rem;
    }
}
@media (min-width: 1400px) {
    #intro>section, .mission .half{
        width: 30%;
        padding: 0 2rem;
    }
    #offerings .product {
        width: 55%;
    }
    #about,#success, #cancelled {
        width: 40%;
    }
}
@media (min-width: 1700px) {
    #intro>section, .mission .half{
        width: 25%;
        padding: 0 2rem;
    }
    .disclaimer{
        max-width: 35%
    }
    #offerings .product {
        width: 50%;
    }
    #about,#success, #cancelled{
        width: 40%;
    }
    .mission .photo{
        margin: -9rem 0 -7rem -5rem;
    }
}
@media (min-width: 2000px) {
    /* #intro>section, .mission .half{
        width: 25%;
        padding: 0 2rem;
    } */
    #intro .half, .mission .half {
        margin: 4rem 0 0 0;
    }
    #offerings .product {
        width: 50%;
    }
    .wed{
        /* margin: -20rem 0 -14rem 0; */
        width: 80%;
        left: 20%;
    }
    /* #about {
        width: 40%;
    }
    .mission .photo{
        margin: -9rem 0 -7rem -5rem;
    } */
}

/* Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

  /* @media screen and (min-width: 500px) {
    #offerings{
        padding: 2rem;
    }
  } */

  /* @media screen and (max-width: 1000px) {
    #introD{
        display: none;
    }
    #intro{
        display: initial;
    }
  }
  @media screen and (min-width: 1001px) {
    #introD{
      display: initial;
    }
    #intro {
      display: none;
    }
  } */
  /* @media screen and (max-width: 800px) {
    .intro-img .photo.wed{
        margin: -8rem 0 -4rem 0;
    }
  } */
  /* @media screen and (max-width: 700px) {
    .intro-img .photo.wed{
        margin: -6rem 0 -3rem 0;
    }
  }
  @media screen and (max-width: 574px) {
    .intro-img .photo.wed{
        margin: -3rem 0 -1rem 0;
    }
  }
  @media screen and (max-width: 444px) {
    .intro-img .photo.wed{
        margin: -1rem 0 0 0;
    }
  } */
